<!-- Class Timetable Start -->
<div class="container-fluid p-5">
    <div class="mb-5 text-center">
      <h5 class="text-primary text-uppercase">Liste des exercices</h5>
      <h1 class="display-3 text-uppercase mb-0">Choisis ton muscle</h1>
    </div>
    <div class="tab-class text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5">
            <li class="nav-item" *ngFor="let item of muscles">
                <a class="nav-link rounded-pill text-white " data-bs-toggle="pill" href="#tab-{{item.muscleId}}" id="id-{{item.muscleId}}">{{item.nom}}</a>
            </li>
        </ul>
    </div>

  <!-- Class Timetable Start -->
    <div class="tab-content " *ngFor="let item of muscles">

        <div id="tab-{{item.muscleId}}" class="tab-pane fade p-0 ">
            <table id="table_id" class="table align-middle  table-striped" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of exercices">
                        <td *ngIf="item.muscleId==1">{{item.nom}}</td>
                        <td *ngIf="item.muscleId==1" >
                            <div class="responsive ">
                                <div class="gallery  ">
                                    <div class="image">
                                        <img class=img-responsive   src="../../../../../assets/img/photo_exo/epaules/exo/{{item.photo}}" style="height: 150px;" >
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td *ngIf="item.muscleId==1" >
                            <div class="responsive ">
                                <div class="gallery  ">
                                    <div class="image">
                                        <img class=img-responsive   src="../../../../../assets/img/photo_exo/epaules/positionnement/{{item.position}}" style="height: 150px;" >
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td *ngIf="item.muscleId==1">{{item.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="tab-2" class="tab-pane fade p-0">
            <table id="table_id" class="table align-middle" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of exercices">
                    <td *ngIf="item.muscleId==2">{{item.nom}}</td>
                    <td *ngIf="item.muscleId==2" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/exo/{{item.photo}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>
                    <td *ngIf="item.muscleId==2" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/positionnement/{{item.position}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>

                    <td *ngIf="item.muscleId==2">{{item.description}}</td>

                </tr>
            </tbody>
            </table>
        </div>
        <div id="tab-3" class="tab-pane fade p-0">
            <table id="table_id" class="table align-middle" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of exercices">
                    <td *ngIf="item.muscle_id==89">{{item.exercice_nom}}</td>
                    <td *ngIf="item.muscle_id==89" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/exo/{{item.exercice_photo}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>
                    <td *ngIf="item.muscle_id==89" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/positionnement/{{item.exercice_position}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>

                    <td *ngIf="item.muscle_id==89">{{item.exercice_description}}</td>

                </tr>
            </tbody>
            </table>
        </div>
        <div id="tab-4" class="tab-pane fade p-0">
            <table id="table_id" class="table align-middle" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of exercices">
                    <td *ngIf="item.muscle_id==86">{{item.exercice_nom}}</td>
                    <td *ngIf="item.muscle_id==86" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/exo/{{item.exercice_photo}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>
                    <td *ngIf="item.muscle_id==86" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/positionnement/{{item.exercice_position}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>

                    <td *ngIf="item.muscle_id==86">{{item.exercice_description}}</td>

                </tr>
            </tbody>
            </table>
        </div>
        <div id="tab-5" class="tab-pane fade p-0">
            <table id="table_id" class="table align-middle" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of exercices">
                    <td *ngIf="item.muscle_id==96">{{item.exercice_nom}}</td>
                    <td *ngIf="item.muscle_id==96" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/exo/{{item.exercice_photo}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>
                    <td *ngIf="item.muscle_id==96" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/positionnement/{{item.exercice_position}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>

                    <td *ngIf="item.muscle_id==96">{{item.exercice_description}}</td>

                </tr>
            </tbody>
            </table>
        </div>
        <div id="tab-6" class="tab-pane fade p-0">
            <table id="table_id" class="table align-middle" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of exercices">
                    <td *ngIf="item.muscle_id==92">{{item.exercice_nom}}</td>
                    <td *ngIf="item.muscle_id==92" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/exo/{{item.exercice_photo}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>
                    <td *ngIf="item.muscle_id==92" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/positionnement/{{item.exercice_position}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>

                    <td *ngIf="item.muscle_id==92">{{item.exercice_description}}</td>

                </tr>
            </tbody>
            </table>
        </div>
        <div id="tab-7" class="tab-pane fade p-0">
            <table id="table_id" class="table align-middle" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of exercices">
                    <td *ngIf="item.muscle_id==93">{{item.exercice_nom}}</td>
                    <td *ngIf="item.muscle_id==93" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/exo/{{item.exercice_photo}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>
                    <td *ngIf="item.muscle_id==93" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/positionnement/{{item.exercice_position}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>

                    <td *ngIf="item.muscle_id==93">{{item.exercice_description}}</td>

                </tr>
            </tbody>
            </table>
        </div>
        <div id="tab-8" class="tab-pane fade p-0">
            <table id="table_id" class="table align-middle" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of exercices">
                    <td *ngIf="item.muscle_id==94">{{item.exercice_nom}}</td>
                    <td *ngIf="item.muscle_id==94" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/exo/{{item.exercice_photo}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>
                    <td *ngIf="item.muscle_id==94" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/positionnement/{{item.exercice_position}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>

                    <td *ngIf="item.muscle_id==94">{{item.exercice_description}}</td>

                </tr>
            </tbody>
            </table>
        </div>
        <div id="tab-9" class="tab-pane fade p-0">
            <table id="table_id" class="table align-middle" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of exercices">
                    <td *ngIf="item.muscle_id==95">{{item.exercice_nom}}</td>
                    <td *ngIf="item.muscle_id==95" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/exo/{{item.exercice_photo}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>
                    <td *ngIf="item.muscle_id==95" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/positionnement/{{item.exercice_position}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>

                    <td *ngIf="item.muscle_id==95">{{item.exercice_description}}</td>

                </tr>
            </tbody>
            </table>
        </div>
        <div id="tab-10" class="tab-pane fade p-0">
            <table id="table_id" class="table align-middle" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of exercices">
                    <td *ngIf="item.muscle_id==99">{{item.exercice_nom}}</td>
                    <td *ngIf="item.muscle_id==99" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/pectoraux/exo/{{item.exercice_photo}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>
                    <td *ngIf="item.muscle_id==99" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/pectoraux/positionnement/{{item.exercice_position}}" style="height: 150px;" >
                        </div>
                        </div>
                    </div>
                    </td>

                    <td *ngIf="item.muscle_id==99">{{item.exercice_description}}</td>

                </tr>
            </tbody>
            </table>
        </div>

    </div>


</div>

