<!-- Class Timetable Start -->
<div class="container-fluid p-5">
    <div class="mb-5 text-center">
      <h5 class="text-uppercase">Liste des exercices</h5>
      <h1 class="display-3 text-uppercase mb-0">Choisis ton muscle</h1>
    </div>
    <div class="tab-class text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5">
            <li class="nav-item" *ngFor="let item of muscles">
                <a class="nav-link rounded-pill text-white " data-bs-toggle="pill" href="#tab-{{item.muscleId}}" id="id-{{item.muscleId}}">{{item.nom}}</a>
            </li>
        </ul>
    </div>

  <!-- Class Timetable Start -->
    <div class="tab-content " *ngFor="let item of muscles">

        <div id="tab-1" class="tab-pane fade p-0 ">
            <table id="table_id" class="table align-middle  table-striped" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of exercices">
                        <td *ngIf="item.muscleId==1">{{item.nom}}</td>
                        <td *ngIf="item.muscleId==1" >
                            <div class="responsive ">
                                <div class="gallery  ">
                                    <div class="image">
                                        <img class=img-responsive   src="../../../../../assets/img/photo_exo/epaules/exo/{{item.photo}}" >
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td *ngIf="item.muscleId==1" >
                            <div class="responsive ">
                                <div class="gallery  ">
                                    <div class="image">
                                        <img class=img-responsive   src="../../../../../assets/img/photo_exo/epaules/positionnement/{{item.position}}">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td *ngIf="item.muscleId==1">{{item.description}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div id="tab-2" class="tab-pane fade p-0">
            <table id="table_id" class="table align-middle" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Positionnement</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of exercices">
                    <td *ngIf="item.muscleId==2">{{item.nom}}</td>
                    <td *ngIf="item.muscleId==2" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/exo/{{item.photo}}">
                        </div>
                        </div>
                    </div>
                    </td>
                    <td *ngIf="item.muscleId==2" >
                    <div class="responsive ">
                        <div class="gallery  ">
                        <div class="image">
                            <img class=img-responsive   src="../../../../../assets/img/photo_exo/biceps/positionnement/{{item.position}}">
                        </div>
                        </div>
                    </div>
                    </td>

                    <td *ngIf="item.muscleId==2">{{item.description}}</td>

                </tr>
            </tbody>
            </table>
        </div>

        <div id="tab-3" class="tab-pane fade p-0">
          <table id="table_id" class="table align-middle" >
              <thead>
                  <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Photo</th>
                      <th scope="col">Positionnement</th>
                      <th scope="col">Description</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of exercices">
                  <td *ngIf="item.muscleId==3">{{item.nom}}</td>
                  <td *ngIf="item.muscleId==3" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/triceps/exo/{{item.photo}}">
                      </div>
                      </div>
                  </div>
                  </td>
                  <td *ngIf="item.muscleId==3" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/triceps/positionnement/{{item.position}}">
                      </div>
                      </div>
                  </div>
                  </td>

                  <td *ngIf="item.muscleId==3">{{item.description}}</td>

              </tr>
          </tbody>
          </table>
        </div>

        <div id="tab-4" class="tab-pane fade p-0">
          <table id="table_id" class="table align-middle" >
              <thead>
                  <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Photo</th>
                      <th scope="col">Positionnement</th>
                      <th scope="col">Description</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of exercices">
                  <td *ngIf="item.muscleId==4">{{item.nom}}</td>
                  <td *ngIf="item.muscleId==4" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/pectoraux/exo/{{item.photo}}">
                      </div>
                      </div>
                  </div>
                  </td>
                  <td *ngIf="item.muscleId==4" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/pectoraux/positionnement/{{item.position}}">
                      </div>
                      </div>
                  </div>
                  </td>

                  <td *ngIf="item.muscleId==4">{{item.description}}</td>

              </tr>
          </tbody>
          </table>
        </div>

        <div id="tab-5" class="tab-pane fade p-0">
          <table id="table_id" class="table align-middle" >
              <thead>
                  <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Photo</th>
                      <th scope="col">Positionnement</th>
                      <th scope="col">Description</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of exercices">
                  <td *ngIf="item.muscleId==5">{{item.nom}}</td>
                  <td *ngIf="item.muscleId==5" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/dos/exo/{{item.photo}}">
                      </div>
                      </div>
                  </div>
                  </td>
                  <td *ngIf="item.muscleId==5" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/dos/positionnement/{{item.position}}">
                      </div>
                      </div>
                  </div>
                  </td>

                  <td *ngIf="item.muscleId==5">{{item.description}}</td>

              </tr>
          </tbody>
          </table>
        </div>

        <div id="tab-6" class="tab-pane fade p-0">
          <table id="table_id" class="table align-middle" >
              <thead>
                  <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Photo</th>
                      <th scope="col">Positionnement</th>
                      <th scope="col">Description</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of exercices">
                  <td *ngIf="item.muscleId==6">{{item.nom}}</td>
                  <td *ngIf="item.muscleId==6" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/abdos/exo/{{item.photo}}">
                      </div>
                      </div>
                  </div>
                  </td>
                  <td *ngIf="item.muscleId==6" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/abdos/positionnement/{{item.position}}">
                      </div>
                      </div>
                  </div>
                  </td>

                  <td *ngIf="item.muscleId==6">{{item.description}}</td>

              </tr>
          </tbody>
          </table>
        </div>

        <div id="tab-7" class="tab-pane fade p-0">
          <table id="table_id" class="table align-middle" >
              <thead>
                  <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Photo</th>
                      <th scope="col">Positionnement</th>
                      <th scope="col">Description</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of exercices">
                  <td *ngIf="item.muscleId==7">{{item.nom}}</td>
                  <td *ngIf="item.muscleId==7" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/fessiers/exo/{{item.photo}}">
                      </div>
                      </div>
                  </div>
                  </td>
                  <td *ngIf="item.muscleId==7" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/fessiers/positionnement/{{item.position}}">
                      </div>
                      </div>
                  </div>
                  </td>

                  <td *ngIf="item.muscleId==7">{{item.description}}</td>

              </tr>
          </tbody>
          </table>
        </div>

        <div id="tab-8" class="tab-pane fade p-0">
          <table id="table_id" class="table align-middle" >
              <thead>
                  <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Photo</th>
                      <th scope="col">Positionnement</th>
                      <th scope="col">Description</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of exercices">
                  <td *ngIf="item.muscleId==8">{{item.nom}}</td>
                  <td *ngIf="item.muscleId==8" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/quadriceps/exo/{{item.photo}}">
                      </div>
                      </div>
                  </div>
                  </td>
                  <td *ngIf="item.muscleId==8" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/quadriceps/positionnement/{{item.position}}">
                      </div>
                      </div>
                  </div>
                  </td>

                  <td *ngIf="item.muscleId==8">{{item.description}}</td>

              </tr>
          </tbody>
          </table>
        </div>

        <div id="tab-9" class="tab-pane fade p-0">
          <table id="table_id" class="table align-middle" >
              <thead>
                  <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Photo</th>
                      <th scope="col">Positionnement</th>
                      <th scope="col">Description</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of exercices">
                  <td *ngIf="item.muscleId==9">{{item.nom}}</td>
                  <td *ngIf="item.muscleId==9" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/ischios/exo/{{item.photo}}">
                      </div>
                      </div>
                  </div>
                  </td>
                  <td *ngIf="item.muscleId==9" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/ischios/positionnement/{{item.position}}">
                      </div>
                      </div>
                  </div>
                  </td>

                  <td *ngIf="item.muscleId==9">{{item.description}}</td>

              </tr>
          </tbody>
          </table>
        </div>

        <div id="tab-10" class="tab-pane fade p-0">
          <table id="table_id" class="table align-middle" >
              <thead>
                  <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Photo</th>
                      <th scope="col">Positionnement</th>
                      <th scope="col">Description</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of exercices">
                  <td *ngIf="item.muscleId==10">{{item.nom}}</td>
                  <td *ngIf="item.muscleId==10" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/mollet/exo/{{item.photo}}">
                      </div>
                      </div>
                  </div>
                  </td>
                  <td *ngIf="item.muscleId==10" >
                  <div class="responsive ">
                      <div class="gallery  ">
                      <div class="image">
                          <img class=img-responsive   src="../../../../../assets/img/photo_exo/mollet/positionnement/{{item.position}}">
                      </div>
                      </div>
                  </div>
                  </td>

                  <td *ngIf="item.muscleId==10">{{item.description}}</td>

              </tr>
          </tbody>
          </table>
        </div>


    </div>


</div>

