.tab-content  {
  margin-left: 15%;
  margin-right: 15%;

}

h1,
td,
tr {
  color: rgb(255, 255, 255);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #03e9f4;
}
