.tab-content  {
  margin-left: 5%;
  margin-right: 5%;

}

h1,
td,
tr {
  color: rgb(255, 255, 255);
}

h5
{
  color: #03e9f4;
}


img
{
  width: 2rem;
}

.modal-header {
  width: 50%;

}

/* test  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


 h1 {
   font-size:3em;
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #108596;
 }

 h2 {
   font-size:1em;
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 2em;
   color:  #108596;
 }

 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #03e9f4;
   text-decoration: none;
 }

 h3{
  color: #03e9f4;
 }

 .blue { color: #185875; }
 .yellow { color: #FFF842; }

 .container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #185875;
 }

 .container td {
  text-align: center;
     font-weight: normal;
     font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
           box-shadow: 0 2px 2px -2px #0E1119;
 }

 .container {
     text-align: center;
     overflow: hidden;
     width: 80%;
   display: table;
 }

 .container td, .container th {
     padding-bottom: 2%;
     padding-top: 2%;

 }

 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
     background-color: #323C50;
 }

 /* Background-color of the even rows */
 .container tr:nth-child(even) {
     background-color: #2C3446;
 }

 .container th {
     background-color: #1F2739;
 }

 .container td:first-child { color: #03e9f4; }

 .container tr:hover {
    background-color: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
      -moz-box-shadow: 0 6px 6px -6px #0E1119;
           box-shadow: 0 6px 6px -6px #0E1119;
 }

 .container td:hover {
   background-color: #03c7f4;
   color: #403E10;
   font-weight: bold;

   box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);

   transition-delay: 0s;
     transition-duration: 0.4s;
     transition-property: all;
   transition-timing-function: line;
 }

 @media (max-width: 500px) {
  .container td:nth-child(6),
  .container th:nth-child(6) { display: none; }
  #date {
    font-size: 10px;
  }

  img{
    width: 70%;
  }
  .tab-content  {
    margin-left: 2%;
    margin-right: 2%;

  }
  .container th  {
    width: 5rem;
  }
  .container td {
    font-size: 0.5em;
  }
  .container th h1  {
  font-size: 0.7em;
  }
}

 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #03e9f4;
}
