<!-- Contact Section Begin -->
<section class="contact-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="section-title contact-title">
                  <span>Contactez-nous</span>
                  <h2>GET IN TOUCH</h2>
              </div>
              <div class="contact-widget">
                  <div class="cw-text">
                      <i class="fa fa-map-marker"></i>
                      <p>83, rue de Paris<br/> 93260 <br> Les Lilas</p>
                  </div>
                  <div class="cw-text">
                    <i class="fa fa-mobile"></i>
                    <p>France<br/> +33 (6) 29 39 05 26 <br></p>
                  </div>
                  <div class="cw-text email">
                      <i class="fa fa-envelope"></i>
                      <p>shape@gmail.com</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="leave-comment">
                  <form action="#">
                      <input type="text" placeholder="Name">
                      <input type="text" placeholder="Email">
                      <input type="text" placeholder="Website">
                      <textarea placeholder="Comment"></textarea>
                      <button type="submit">Soumettre</button>
                  </form>
              </div>
          </div>
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.894295542985!2d2.4136264000000005!3d48.879291599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66da0a6169f4d%3A0x376e603442bf40df!2s83%20Rue%20de%20Paris%2C%2093260%20Les%20Lilas!5e0!3m2!1sfr!2sfr!4v1675959507815!5m2!1sfr!2sfr"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div>
</section>
<!-- Contact Section End -->

