<section class="pricing-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <span>Nos offres</span>
                  <h2>Choisis ton abonnement adapté</h2>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-4 col-md-8">
              <div class="ps-item">
                  <h3>Gratuit</h3>
                  <div class="pi-price">
                      <h2>0 €</h2>
                      <span>Découverte</span>
                  </div>
                  <ul>
                      <li>Accès aux exercices</li>
                      <li>Prépare ton planning</li>
                      <li>Calcule ton IMC</li>
                      <li></li>
                      <li></li>
                      <li></li>
                  </ul>
                  <a href="#" class="primary-btn pricing-btn">Rejoins-nous</a>
                  <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-8">
              <div class="ps-item">
                  <h3>6 mois</h3>
                  <div class="pi-price">
                      <h2>20 €</h2>
                      <span>Accès illimité</span>
                  </div>
                    <ul>
                      <li>Accès aux exercices</li>
                      <li>Prépare ton planning</li>
                      <li>Calcule ton IMC</li>
                      <li>Télécharge tes photos</li>
                      <li>Suis ton évolution</li>
                      <li>Suivis personnalisé</li>
                    </ul>
                  <a href="#" class="primary-btn pricing-btn">Rejoins-nous</a>
                  <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-8">
              <div class="ps-item">
                  <h3>12 Mois unlimited</h3>
                  <div class="pi-price">
                      <h2>35 €</h2>
                      <span>Accès illimité</span>
                  </div>
                  <ul>
                    <li>Accès aux exercices</li>
                    <li>Prépare ton planning</li>
                    <li>Calcule ton IMC</li>
                    <li>Télécharge tes photos</li>
                    <li>Suis ton évolution</li>
                    <li>Suivis personnalisé</li>
                  </ul>
                  <a href="#" class="primary-btn pricing-btn">Rejoins-nous</a>
                  <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
              </div>
          </div>
      </div>
  </div>
</section>
